PORT=4557
PROXY_SERVER=socks5://127.0.0.1:1080
DEBUG=1
ALLOW_NO_SANDBOX=true
XVFB_DISPLAY_BASE=400
POOL_SIZE=2
TABS_PER_BROWSER=2
BROWSER_MAX_AGE_MIN=30
BROWSER_MAX_SOLVES=50
SOLVE_TIMEOUT_SEC=60
GCRA_LIMIT=10
GCRA_PERIOD_MS=3000
GCRA_RETRY_AFTER_MS=2000
CLOUDFLARED_TOKEN=
